@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lora);
}

h1 {
    font-family: var(--font-GreatVibes-Regular);
    /* Other styles for h1 */
}

h2, h3, .subheading { /* Use a class for consistent subheadings */
    font-family: var(--font-Montserrat-VariableFont_wght);
    /* Other styles for subheadings */
}

p, .body-text { /* Use a class for body text */
    font-family: var(--font-lora);
    /* Other styles for body text */
}
