@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

@layer components {
  .heading {
    @apply text-3xl text-center mb-6 text-blue-900;
    font-family: var(--font-great-vibes);
  }

  .subheading {
    @apply text-lg font-semibold text-blue-900;
    font-family: var(--font-montserrat);
  }

  .body-text {
    @apply leading-relaxed text-black dark:text-black;
    font-family: var(--font-lora);
  }

  .summary-text {
    @apply text-xl text-center mb-8 leading-relaxed text-black dark:text-black;
    font-family: var(--font-lora);
  }

}
